@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<h1>@ViewData["Title"]</h1>

<br />
<h3>What is this website?</h3>
This is the Shelter Manager Application, where Shelter Owners can manage volunteers and their clients as well as communicate with other Shelter Owners.
<br />
<br />
<br />
<h3>I'm a Shelter Owner. Where do I start?</h3>
If you are a Shelter Owner, please create an account and get in touch with us through our contacts page. We would be happy to work with you.
<br />
<br />
<br />
<h3>I'm a Shelter Volunteer. What should I do?</h3>
If you are happy to volunteer with one of our partnered shelters, please see the contact page with the phone numbers and email address of our partners to get in touch with, among many other things.
<br />
<br />
<br />
<h3>I'm a Client. What is there for me to do?</h3>
If you are a client that is not within our partnered organizations but wants access to our resources, our contact page is listed above and will help you find us!<br />Otherwise, if you are a client within our organization, your data is already being handled by your volunteers and shelter managers so there is nothing on your end that needs to be done.
<br />
<br />
<br />

