@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shelter Manager</h1>
    <p>Learn about <a href="/Views/Shared/Create">Create account</a>.</p>
</div>
