@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Shelter Manager!</h1>
    <a asp-action="Create">Create Account</a>

    <a asp-action="LoginView">Login</a>
</div>
